<div class="certificate_border {result.certColor}">
    <div class="certificate_body speaker_certificate">
        <img alt="The tournament logo" src="{tournament.logoUrl ?: "/nycfl-logo.svg"}" height="100px"/>
        <p class="nycfl">{tournament.certificateHeadline ?: "New York Catholic Forensic League"}</p>
        <p class="award_certificate">Award Certificate</p>
        {#tournament_details /}
        <p class="place">{result.placeString}</p>
        <p class="before_text">This certificate is given to recognize</p>
        <p class="name">{result.name}</p>
        </p>
        <p class="before_text">as a top speaker in </p>

        <p class="event_name">{Speaker:cleanName(event.name)}</p>

        <p class="signature_block">
            <span class="signature">{tournament.signature ?: "Thomas Beck"}</span>
            <span class="position">{tournament.signatureTitle ?: "NYCFL President"} </span>
        </p>
        <p class="date_block">
            <span class="signature-date">{tournament.shortDate}</span>
            <span class="date-label">Date</span>
        </p>
    </div>
</div>
