<div style="border: 2px solid blue; text-align: center; page-break-after: always">
    <p>New York Catholic Forensic League</p>

    <p>All proceeds from this contest
        will be donated to the
        NYCFL Scholarship Fund</p>
    <p>Award Certificate</p>
    <p>Xavier High School</p>

    <p>{tournament.name}</p>
    <p>October 26, 2019</p>
    <p style="border-bottom: 1px solid black; width: 90%; margin: 0 auto;">{result.placeString}</p>

    <p>This certificate is given to</p>
    <p style="border-bottom: 1px solid black; width: 90%; margin: 0 auto;">{result.name}</p>
    </p>to recognize outstanding performance in the category of</p>

    <p><b>{event.name}</b></p>

    <p>Thomas Beck 10/26/19</p>
    <p>NYCFL President Date</p>
</div>