{@org.nycfl.certificates.Tournament tournament }
<link rel='stylesheet' href='/certs.css' />
<style>
    {tournament.styleOverrides.or('').raw}
</style>
{#for event in tournament.events}
{#for result in event.results}
{#if result.place < event.certificateCutoff }
<div style="overflow: hidden; height: 8.5in; width: 11in; padding: 0.5in">
    {#if event.certificateType eq CertificateType:DEBATE_SPEAKER }
    {#debate_speaker result=result tournament=tournament event=event /}
    {#else if event.certificateType eq CertificateType:PLACEMENT }
    {#placement result=result tournament=tournament event=event /}
    {#else if event.certificateType eq CertificateType:DEBATE_RECORD }
    {#record result=result tournament=tournament event=event /}
    {#else if event.certificateType eq CertificateType:QUALIFIER }
    {#qualifier result=result tournament=tournament event=event /}
    {#else if event.certificateType eq CertificateType:CONGRESS_PO }
    {#po result=result tournament=tournament event=event /}
    {/if }
</div>
<div style="page-break-after: always; visibility: hidden"></div>
{/if}
{/for}
{/for}
