<!doctype html>
<html lang="en">
<head>
    <title>Results Slideshow</title>
    <style>
        :root {
            --primary-accent: {accentColor};
            --secondary-accent: {secondaryAccentColor};
            --background-color: {overlayColor};
            --main-text: {primaryColor};
            --background-image: url("{image}");
        }

    </style>
    <link rel='stylesheet' href='/slides.css'/>
</head>
<body>
<div class="background"></div>
{#for slide in slides}
{slide.raw}
{/for}
<div class="buttons">
    <button id='btn-prev' type="button">◀</button>
    <button id='btn-next' type="button">▶</button>
</div>
<script src='/slides.js'></script>
</body>
</html>